<form role="form" id="ciasForm" style="margin-left:15px; margin-right:15px;">
    <div class="col-md-12">
        <fieldset class="fieldset-filters">
            <legend class="fieldset-label">Información general</legend>

            <div class="row">
                @* <div class="form-group col-12"> *@
                @*     <label>Código de compañía</label> *@
                @*     <input type="text" class="form-control" placeholder="COD_CIA" id="COD_CIA" name="COD_CIA" required /> *@
                @* </div> *@
                
                <input type="hidden" class="form-control" placeholder="" id="COD_CIA" name="COD_CIA"/>
                <input type="hidden" class="form-control" placeholder="" id="IS_COPYING" name="IS_COPYING"/>
                
                <div class="form-group col-md-5">
                    <label>Razón social</label>
                    <input type="text" class="form-control" placeholder="" id="RAZON_SOCIAL" name="RAZON_SOCIAL"/>
                </div>

                <div class="form-group col-md-5">
                    <label>Nombre comercial</label>
                    <input type="text" class="form-control" placeholder="" id="NOM_COMERCIAL" name="NOM_COMERCIAL">
                </div>

                <div class="form-group col-md-2">
                    <label>Código Core</label>
                    <input type="text" class="form-control" placeholder="" id="COD_CIA_CORE" name="COD_CIA_CORE">
                </div>

            </div>
        </fieldset>

        <div class="row">
            <div class="col-12" style="margin-top:20px;">
                <button class="btn btn-primary btn-md float-right" id="btnSaveCia" type="submit">
                    <i class="fa fa-floppy-o"></i>&nbsp;
                    <span id="btnSaveCiaText">Guardar</span>
                </button>
            </div>
        </div>
    </div>
</form>