@using CoreContable.Services
@using CoreContable.Utils
@inject ISecurityRepository SecurityRepository

@{
    ViewData["Title"] = "Tipo de entradas - Cuentas";
}

@section Styles{
    <link rel="stylesheet" href="~/plugins/jquery.dataTables/1.13.7/css/jquery.dataTables.min.css" />
    <link rel="stylesheet" href="~/plugins/tempusdominus-bootstrap-4/css/tempusdominus-bootstrap-4.min.css" />
    <link rel="stylesheet" href="~/css/grids.defaults.css" asp-append-version="true" />
}

@section BreadCrumb{
    <li class="breadcrumb-item active">@ViewData["Title"]</li>
}

<input type="hidden" id="codCia" name="codCia" value="@SecurityRepository.GetSessionCiaCode()">

<div class="card">
    <div class="card-body">
        @if (SecurityRepository.GetSessionUserPermissionList().Contains(CC.THIRD_LEVEL_PERMISSION_CENTROCOSTO_CAN_ADD))
        {
            <div class="row">
                <div class="col-12">
                    <button class="btn btn-primary btn-md button-create float-right" id="tipoEntradaCuentasAddBtn" style="margin-bottom:20px;">
                        <i class="fa fa-plus"></i>
                        Agregar
                    </button>
                </div>
            </div>
        }

        <table id="tipoEntradaCuentasDt" class="" style="width:100%!important;">
            <thead>
            <tr>
                <th style="width: 5%;">#</th>
                <th>Tipo Entrada</th>
                <th>Cod Cuenta</th>
                <th>Tipo Cuenta</th>
                <th>Forma Cálculo</th>
                <th style="width: 10%;">Acciones</th>
            </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
</div>

<textarea id="tipoEntradaCuentasGridButtons" style="display:none;">
    <div class="btn-group" data-row="{data}" style="">
        <button class='btn btn-warning btn-sm button-edit' data-action="edit" title="Editar">
            <i class='fa fa-pencil'></i>
        </button>
    </div>
</textarea>

<textarea id="tipoEntradaCuentasFormBody" style="display:none;"><partial name="TipoEntradaCuentasForm" /></textarea>

@section Scripts{
    <script src="~/plugins/jquery.dataTables/1.13.7/js/jquery.dataTables.min.js"></script>
    <script src="~/plugins/bootbox/bootbox.min.js"></script>
    <script src="~/plugins/moment/moment-with-locales.js"></script>
    <script src="~/plugins/tempusdominus-bootstrap-4/js/tempusdominus-bootstrap-4.min.js"></script>
    <script src="~/plugins/jqueryValidate-1.19/jquery.validate.min.js"></script>
    <script src="~/plugins/jqueryValidate-1.19/additional-methods.min.js"></script>
    <script src="~/plugins/base64/base64.js"></script>
    <script src="~/plugins/JSON-js/json2.js"></script>
    <script src="~/plugins/jquery-json/jquery.json.min.js"></script>
    <script src="~/plugins/jQuery-Mask-Plugin-master/dist/jquery.mask.min.js"></script>
    <script src="~/js/pages/utils/base.grid.js" asp-append-version="true"></script>
    <script src="~/js/pages/utils/accounts.utils.js" asp-append-version="true"></script>
    <script src="~/js/pages/tipoentradacuentas.js" asp-append-version="true"></script>
}