@using CoreContable.Services
@using CoreContable.Utils
@inject ISecurityRepository SecurityRepository

<form role="form" id="tipoEntradaCuentasForm" style="margin-left:15px; margin-right:15px;">
    <div class="col-md-12">
        <input type="hidden" class="form-control" id="Id" name="Id" jv-required="false" jv-minlength="1" />
        <input type="hidden" class="form-control" id="CodCia" name="CodCia" value="@SecurityRepository.GetSessionCiaCode()" jv-required="true" jv-minlength="3" jv-maxlength="3" />

        <div class="form-group">
            <label for="TipoEntrada" class="form-label">Tipo de Entrada</label>
            <select class="form-control" id="TipoEntrada" name="TipoEntrada" jv-required="true" jv-minlength="1" jv-maxlength="2">
                <option value="">Seleccione un valor</option>
                <option value="1">Cambio</option>
                <option value="2">Cambio de lote</option>
                <option value="3">Materia prima</option>
                <option value="4">Producto terminado</option>
                <option value="5">Reingresos</option>
                <option value="6">Camio de codigo</option>
            </select>
        </div>

        <div class="form-group id="cuentaSelect">
            <label class="form-label" for="CodContable">Cuenta</label> @* Viene de: DmgCuentas *@
            <input type="hidden" class="form-control" id="CodContable" name="CodContable" jv-required="true" />
        </div>

        <div class="form-group">
            <label for="TipoCuenta" class="form-label">Tipo Cuenta</label>
            <select class="form-control" id="TipoCuenta" name="TipoCuenta" jv-required="true" jv-minlength="1" jv-maxlength="5">
                <option value="">Seleccione un valor</option>
                <option value="CARGO">Cargo</option>
                <option value="ABONO">Abono</option>
            </select>
        </div>

        <div class="row">
            <div class="form-group col-md-4">
                <label for="FormaCalculo">Columna 1</label>
                <select class="form-control" id="Columna1" jv-required="true" jv-minlength="1" jv-maxlength="2">
                    <option value="">Seleccione un valor</option>
                    <option value="cantidad">Cantidad</option>
                    <option value="manoObra">Mano de Obra</option>
                    <option value="cargaFab">Carga Fabril</option>
                    <option value="matEmpaque">Material de Empaque</option>
                    <option value="matPrima">Materia Prima</option>
                </select>
            </div>
            <div class="form-group col-md-4">
                <label for="FormaCalculo">Operación</label>
                <select class="form-control" id="Operacion" jv-required="true" jv-minlength="1" jv-maxlength="2">
                    <option value="">Seleccione un valor</option>
                    <option value="+">Suma</option>
                    <option value="-">Resta</option>
                    <option value="*">Multiplicación</option>
                    <option value="/">División</option>
                </select>
            </div>
            <div class="form-group col-md-4">
                <label for="FormaCalculo">Columna 2</label>
                <select class="form-control" id="Columna2" jv-required="true" jv-minlength="1" jv-maxlength="2">
                    <option value="">Seleccione un valor</option>
                    <option value="cantidad">Cantidad</option>
                    <option value="manoObra">Mano de Obra</option>
                    <option value="cargaFab">Carga Fabril</option>
                    <option value="matEmpaque">Material de Empaque</option>
                    <option value="matPrima">Materia Prima</option>
                </select>
            </div>
        </div>



        <div class="row">
            <div class="col-12" style="margin-top:20px;">
                <button class="btn btn-primary btn-md float-right" id="tipoEntradaCuentasFormBtnSave" type="submit">
                    <i class="fa fa-floppy-o"></i>&nbsp;
                    <span id="tipoEntradaCuentasFormBtnSaveText">Guardar</span>
                </button>
            </div>
        </div>
    </div>
</form>