@using CoreContable.Services
@using CoreContable.Utils
@inject ISecurityRepository SecurityRepository

<form role="form" id="tipoMovCuentasForm" style="margin-left:15px; margin-right:15px;">
    <div class="col-md-12">
        <input type="hidden" class="form-control" id="Id" name="Id" jv-required="false" jv-minlength="1" />
        <input type="hidden" class="form-control" id="CodCia" name="CodCia" value="@SecurityRepository.GetSessionCiaCode()" jv-required="true" jv-minlength="3" jv-maxlength="3" />

        <div class="row">
            <div class="form-group col-5">
                <label for="NombreMov" class="form-label">Nombre Movimiento</label>
                <select class="form-control" id="NombreMov" name="NombreMov" jv-required="true" jv-minlength="1" jv-maxlength="5">
                    <option value="">Seleccione un valor</option>
                    <option value="Entrada">Entrada</option>
                    <option value="SalidaC">Salida al costo</option>
                    <option value="SalidaI">Reconocimiento de Ingresos</option>
                </select>
            </div>

            <div class="form-group col-7">
                <label class="form-label" for="IdTipoMov" id="IdTipoMovLabel">Tipo...</label> @* Viene de: TipoMovCuentas *@
                <input type="hidden" class="form-control" id="IdTipoMov" name="IdTipoMov" jv-required="true" />
            </div>
        </div>

        <div class="form-group">
            <label class="form-label" for="IdCatalogo">Cuenta Contable</label> @* Viene de: DmgCuentas *@
            <input type="hidden" class="form-control" id="IdCatalogo" name="IdCatalogo" jv-required="true" />
        </div>

        <div class="form-group">
            <label class="form-label" for="CentroCosto">Centro de Costos</label>
            <input type="hidden" class="form-control" id="CentroCostoF" name="CentroCostoF" jv-required="true" />
        </div>

        <div class="row">
            <div class="form-group col-4">
                <label for="TipoCuenta" class="form-label">Tipo Asiento</label>
                <select class="form-control" id="TipoCuenta" name="TipoCuenta" jv-required="true" jv-minlength="1" jv-maxlength="5">
                    <option value="">Seleccione un valor</option>
                    <option value="CARGO">Cargo</option>
                    <option value="ABONO">Abono</option>
                </select>
            </div>

            <div class="form-group col-8">
                <label class="form-label" for="IdTipoPartida">Nombre Asiento</label>
                <input type="hidden" class="form-control" id="IdTipoPartida" name="IdTipoPartida" jv-required="true" />
            </div>
        </div>

        <div class="form-group">
            <label class="form-label" for="FormaCalculo">Forma de Cálculo</label>
            <input type="text" class="form-control" id="FormaCalculo" name="FormaCalculo" jv-required="true" />
        </div>



        <div class="row">
            <div class="col-12" style="margin-top:20px;">
                <button class="btn btn-primary btn-md float-right" id="tipoMovCuentasFormBtnSave" type="submit">
                    <i class="fa fa-floppy-o"></i>&nbsp;
                    <span id="tipoMovCuentasFormBtnSaveText">Guardar</span>
                </button>
            </div>
        </div>
    </div>
</form>