/**
* Estilos custom para bootbox:
 */

/* FIXED BOOTBOX MODAL NO SCROLL BAR BUG */
.modal{ overflow-y: auto; }
.modal-open{ overflow:auto }

/*CORRIGE EL BOTON CERRAR EN EL HEADER DEL DIALOG.*/
.bootbox .modal-header {
    display: block;
}

.modalSmall .modal-dialog {
    width: 400px;
    max-width: 400px;
}

.modalMedium .modal-dialog {
    width: 700px;
    max-width: 700px;
}

.modalBig .modal-dialog {
    width: 900px;
    max-width: 900px;
}

.modalLarge .modal-dialog {
    width: 1000px;
    max-width: 1000px;
}

.modalExtraLarge .modal-dialog {
    width: 90vw;
    max-width: 90vw;
}

.fieldset-filters {
    border: solid 1px #cdcdcd;
    padding: 16px;
    margin-top: 16px;
}

.fieldset-label {
    background: #FFF;
    /*position: relative;*/
    /*top: -4px;*/
    /*left: 10px;*/
    color: #8B8986;
    padding: 5px;
    text-transform: uppercase;
    font-size: 14px;
    width: fit-content;
    font-weight: bold;
    margin-bottom: 0;
}

fieldset legend {
    margin-bottom: 0;
}

/*JQUERY VALIDATOR*/
label.error {color: red;}
input.error {
    border: 2px solid red;
    color: red;
}
input.error:focus { border: 2px solid red; }
input.error::placeholder {
    color: #f65656;
    opacity: 1; /* Firefox */
}

/*span.error{*/
/*    outline: none;*/
/*    border: 1px solid red;*/
/*    box-shadow: 0 0 5px 1px red;*/
/*}*/

/** select2 error hightight **/
.select2.error .select2-selection--single{
    border-color:red !important;
    color:red !important;
}

/** tagit error highlight **/
.tagit.error{
    border-color:red !important;
    color:red !important;
}

/*.hasDifference {*/
/*    background-color: #ffd0d0;*/
/*}*/

.hasDifference td {
    /*background-color: #FF9900;*/
    /*-webkit-transition: all 1s linear;*/
    background-color: #ffe5e5;
}

.table-hover.hasDifference tbody tr:hover td {
    /*background-color: #FF9900;*/
    /*-webkit-transition: all 1s linear;*/
    background-color: #a82323!important;
}


/* VIENEN DESDE BOOTSTRAP 2 */

.has-error .help-block,
.has-error .control-label,
.has-error .radio,
.has-error .checkbox,
.has-error .radio-inline,
.has-error .checkbox-inline,
.has-error.radio label,
.has-error.checkbox label,
.has-error.radio-inline label,
.has-error.checkbox-inline label {
    color: #a94442;
}
.has-error .form-control {
    border-color: #a94442;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
}
.has-error .form-control:focus {
    border-color: #843534;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 6px #ce8483;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 6px #ce8483;
}
.has-error .input-group-addon {
    color: #a94442;
    background-color: #f2dede;
    border-color: #a94442;
}
.has-error .form-control-feedback {
    color: #a94442;
}

/* ESTOS ESTILOS VIENEN DESDE ADMIN LTE 2*/

.form-group.has-error label {
    color: #dd4b39;
}
.form-group.has-error .form-control,
.form-group.has-error .input-group-addon {
    border-color: #dd4b39;
    box-shadow: none;
}
.form-group.has-error .help-block {
    color: #dd4b39;
}