@using CoreContable.Services
@inject ISecurityRepository SecurityRepository

@{
    ViewData["Title"] = "Administrar usuarios";
}

@section Styles{
    <link rel="stylesheet" href="~/plugins/jquery.dataTables/1.13.7/css/jquery.dataTables.min.css"/>
    <link rel="stylesheet" href="~/plugins/tempusdominus-bootstrap-4/css/tempusdominus-bootstrap-4.min.css"/>
    <link rel="stylesheet" href="~/css/grids.defaults.css" asp-append-version="true"/>
}

@section BreadCrumb{
    <li class="breadcrumb-item active">@ViewData["Title"]</li>
}

<input type="hidden" id="codCia" name="codCia" value="@SecurityRepository.GetSessionCiaCode()"/>
<input type="hidden" id="ciaName" name="ciaName" value="@SecurityRepository.GetSessionCiaName()"/>
<input type="hidden" id="currentUserId" name="currentUserId" value="@SecurityRepository.GetSessionUserId()"/>

<div class="card">
    <div class="card-body">
        <div class="row">
            <div class="col-3"></div>
            <div class="col-9">
                @if (SecurityRepository.HasPermission(CC.THIRD_LEVEL_PERMISSION_USERS_CAN_ADD)) {
                    <button class="btn btn-primary btn-md button-create float-right" id="usersAddButtonId" style="margin-bottom:20px;">
                        <i class="fa fa-plus"></i>
                        Agregar
                    </button>
                }
            </div>
        </div>

        <table id="usersDataTableId" class="" style="width:100%!important;">
            <thead>
            <tr>
                <th style="width: 5%;">#</th>
                <th>Usuario</th>
                <th>Email</th>
                <th>Nombres</th>
                <th>Apellidos</th>
                <th>Estado</th>
                <th>Fecha de creación</th>
                <th style="width: 10%;">Acciones</th>
            </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
</div>

<textarea id="usersDataTableActionsContainerId" style="display:none;">
    <div class="btn-group" data-row="{data}" style="">
        @if (SecurityRepository.HasPermission(CC.THIRD_LEVEL_PERMISSION_USERS_CAN_UPDATE)) {
            <button class='btn btn-warning btn-sm button-edit' data-action="edit" title="Editar">
                <i class='fa fa-pencil'></i>
            </button>
        }
        @if (SecurityRepository.HasPermission(CC.THIRD_LEVEL_PERMISSION_USERS_CAN_DELETE)) {
            <button class='btn btn-danger btn-sm button-delete {canDelete}' data-action="delete" title="Eliminar">
                <i class='fa fa-times'></i>
            </button>
        }
        @if (SecurityRepository.HasPermission(CC.THIRD_LEVEL_PERMISSION_USERS_CAN_COMPANY)) {
            <button class='btn btn-primary  btn-sm button-company' data-action="company" title="Empresas">
                <i class='fa fa-building-o'></i>
            </button>
        }
    </div>
</textarea>

@if (SecurityRepository.HasPermission(CC.THIRD_LEVEL_PERMISSION_USERS_CAN_ADD)
     || SecurityRepository.HasPermission(CC.THIRD_LEVEL_PERMISSION_USERS_CAN_UPDATE)) {
    <textarea id="usersFormHtmlId" style="display:none;"><partial name="UsersForm" /></textarea>
}

@if (SecurityRepository.HasPermission(CC.THIRD_LEVEL_PERMISSION_USERS_CAN_COMPANY)) {
    <textarea id="userCiasFormHtmlId" style="display:none;"><partial name="UserCiasForm"/></textarea>
}

@section Scripts{
    <script src="~/plugins/jquery.dataTables/1.13.7/js/jquery.dataTables.min.js"></script>
    <script src="~/plugins/bootbox/bootbox.min.js"></script>
    <script src="~/plugins/moment/moment-with-locales.js"></script>
    <script src="~/plugins/tempusdominus-bootstrap-4/js/tempusdominus-bootstrap-4.min.js"></script>
    <script src="~/plugins/jqueryValidate-1.19/jquery.validate.min.js"></script>
    <script src="~/plugins/jqueryValidate-1.19/additional-methods.min.js"></script>
    <script src="~/plugins/jqueryValidate-1.19/messages_es.js"></script>
    <script src="~/plugins/base64/base64.js"></script>
    <script src="~/plugins/JSON-js/json2.js"></script>
    <script src="~/plugins/jquery-json/jquery.json.min.js"></script>
    <script src="~/js/pages/utils/base.grid.js" asp-append-version="true"></script>
    <script src="~/js/pages/users.admin.js" asp-append-version="true"></script>
}