<form role="form" id="userCompanyAccessFormId" style="margin-left:15px; margin-right:15px;">
    <input type="hidden" id="UserIdCompanyAccess" name="UserId" />
    <input type="hidden" id="OldRolesCompanyAccess[]" name="OldRoles[]" />

    <div class="col-md-12">
        <div class="row mt-3">
            <div class="form-group col-md-12">
                <label class="form-label" for="SelCiaCompanyAccess">Empresa</label>
                <input type="hidden" class="form-control" id="SelCiaCompanyAccess" name="SelCia" autocomplete="off">
            </div>
        </div>

        <div class="row mt-1">
            <div class="form-group col-md-12">
                <label class="form-label" for="SelRolesCompanyAccess">Roles</label>
                <input type="hidden" class="form-control" id="SelRolesCompanyAccess" name="SelRoles" autocomplete="off">
            </div>
        </div>

        <div class="row">
            <div class="col-12" style="margin-top:20px;">
                <button class="btn btn-primary btn-md float-right" id="usersFormCompanyAccessAddButtonId" type="submit">
                    <i class="fa fa-floppy-o"></i>&nbsp;
                    <span id="usersFormCompanyAccessAddButtonTextId">Guardar</span>
                </button>
            </div>
        </div>
    </div>
</form>