<form role="form" id="dmgDoctosForm" style="margin-left:15px; margin-right:15px;">
    <div class="col-md-12">
        <div class="row">
            <input type="hidden" class="form-control" placeholder="" id="IdTipoPartida" name="IdTipoPartida"/>
            <input type="hidden" class="form-control" placeholder="" id="CodCia" name="CodCia"/>
            
            <div class="form-group col-md-12">
                <label>Código</label>
                <input type="text" class="form-control" placeholder="" id="TipoPartida" name="TipoPartida"/>
            </div>

            <div class="form-group col-md-12">
                <label>Código Homologar</label>
                <input type="text" class="form-control" placeholder="" id="TipoHomologar" name="TipoHomologar" />
            </div>
        </div>
        
        <div class="row">
            <div class="form-group col-12">
                <label>Descripción</label>
                <input type="text" class="form-control" placeholder="" id="Nombre" name="Nombre"/>
            </div>
        </div>
        
        <div class="row">
            @* <div class="form-group col-md-6">
                <label>Proceso</label>
                <select class="form-control" id="PROCESO" name="PROCESO">
                    <option value="">Seleccione un valor</option>
                    <option value="M">Manual</option>
                    <option value="A">Autom&aacute;tico</option>
                </select>
            </div>
            
            <div class="form-group col-md-6">
                <label class="form-label">Grabaci&oacute;n de p&oacute;liza</label>
                <select class="form-control" id="POLIZA_MANUAL" name="POLIZA_MANUAL">
                    <option value="">Seleccione un valor</option>
                    <option value="M">Manual</option>
                    <option value="A">Autom&aacute;tico</option>
                </select>
            </div> *@
        </div>

        <div class="row">
            <div class="col-12" style="margin-top:20px;">
                <button class="btn btn-primary btn-md float-right" id="btnSaveDmgDocto" type="submit">
                    <i class="fa fa-floppy-o"></i>&nbsp;
                    <span id="btnSaveDmgDoctosText">Guardar</span>
                </button>
            </div>
        </div>
    </div>
</form>