<form role="form" id="dmgDoctosForm" style="margin-left:15px; margin-right:15px;">
    <div class="col-md-12">
        <div class="row">
            <input type="hidden" class="form-control" placeholder="" id="isUpdating" name="isUpdating"/>
            <input type="hidden" class="form-control" placeholder="" id="COD_CIA" name="COD_CIA"/>
            
            <div class="form-group col-md-12">
                <label>Código</label>
                <input type="text" class="form-control" placeholder="" id="TIPO_DOCTO" name="TIPO_DOCTO"/>
            </div>

            <div class="form-group col-md-12">
                <label>Código Homologar</label>
                <input type="text" class="form-control" placeholder="" id="TIPO_DOCTO_HOMOLOGAR" name="TIPO_DOCTO_HOMOLOGAR" />
            </div>

           @*  <div class="form-group col-md-6">
                <label>Contador de p&oacute;liza</label>
                <input type="text" class="form-control" placeholder="" id="CONTADOR_POLIZA" name="CONTADOR_POLIZA">
            </div> *@
        </div>
        
        <div class="row">
            <div class="form-group col-12">
                <label>Descripción</label>
                <input type="text" class="form-control" placeholder="" id="DESCRIP_TIPO" name="DESCRIP_TIPO"/>
            </div>
        </div>
        
        <div class="row">
            @* <div class="form-group col-md-6">
                <label>Proceso</label>
                <select class="form-control" id="PROCESO" name="PROCESO">
                    <option value="">Seleccione un valor</option>
                    <option value="M">Manual</option>
                    <option value="A">Autom&aacute;tico</option>
                </select>
            </div>
            
            <div class="form-group col-md-6">
                <label class="form-label">Grabaci&oacute;n de p&oacute;liza</label>
                <select class="form-control" id="POLIZA_MANUAL" name="POLIZA_MANUAL">
                    <option value="">Seleccione un valor</option>
                    <option value="M">Manual</option>
                    <option value="A">Autom&aacute;tico</option>
                </select>
            </div> *@
        </div>

        <div class="row">
            <div class="col-12" style="margin-top:20px;">
                <button class="btn btn-primary btn-md float-right" id="btnSaveDmgDocto" type="submit">
                    <i class="fa fa-floppy-o"></i>&nbsp;
                    <span id="btnSaveDmgDoctosText">Guardar</span>
                </button>
            </div>
        </div>
    </div>
</form>